Master/Test_Copy.snapshot
{
  "header" : {
    "dataModelVersion" : "3"
  },
  "content" : {
    "flowSnapshot" : {
      "flowContents" : {
        "comments" : "",
        "componentType" : "PROCESS_GROUP",
        "connections" : [ {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "1af63a53-7cf3-31db-b068-59165f63678d",
            "id" : "a8aaf3f0-3209-3ed8-b5a3-7e04b0869a26",
            "name" : "LogAttribute",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "1af63a53-7cf3-31db-b068-59165f63678d",
          "identifier" : "47e6f1b3-5c68-3bd8-b329-04c8a0c0ddc5",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "1af63a53-7cf3-31db-b068-59165f63678d",
            "id" : "56574671-f532-37e9-a672-8b894cb0d03d",
            "name" : "Test Callback URL",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ {
            "x" : -339.5678393691446,
            "y" : 2063.0538055041893
          }, {
            "x" : -200.33492921289462,
            "y" : 2065.2364226916893
          } ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "1af63a53-7cf3-31db-b068-59165f63678d",
            "id" : "6e019ad7-5dc5-3a5e-965f-13a1fc0dd6e6",
            "name" : "Success Callback",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "1af63a53-7cf3-31db-b068-59165f63678d",
          "identifier" : "d4c50c54-3048-3c2f-b948-acc25225bc0b",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "Retry" ],
          "source" : {
            "comments" : "",
            "groupId" : "1af63a53-7cf3-31db-b068-59165f63678d",
            "id" : "6e019ad7-5dc5-3a5e-965f-13a1fc0dd6e6",
            "name" : "Success Callback",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "1af63a53-7cf3-31db-b068-59165f63678d",
            "id" : "6e019ad7-5dc5-3a5e-965f-13a1fc0dd6e6",
            "name" : "Success Callback",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "1af63a53-7cf3-31db-b068-59165f63678d",
          "identifier" : "34ba7ffb-3e6d-3ef0-b3ec-f250dd1d4a76",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "1af63a53-7cf3-31db-b068-59165f63678d",
            "id" : "eb9b0462-335b-3854-a1b6-001560d88bdb",
            "name" : "PrepareCallback",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "1af63a53-7cf3-31db-b068-59165f63678d",
            "id" : "82723ec5-e14d-319a-acfc-fc39170735bb",
            "name" : "PrepareCallback",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "1af63a53-7cf3-31db-b068-59165f63678d",
          "identifier" : "957314c5-c02f-3cf5-a4a2-6e374f3060c1",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "failure", "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "1af63a53-7cf3-31db-b068-59165f63678d",
            "id" : "41fe52ad-4f0b-3078-b7cb-60d003362466",
            "name" : "SecurityMarkings",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "1af63a53-7cf3-31db-b068-59165f63678d",
            "id" : "eb9b0462-335b-3854-a1b6-001560d88bdb",
            "name" : "PrepareCallback",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "1af63a53-7cf3-31db-b068-59165f63678d",
          "identifier" : "27904f1a-0194-3fca-b6f8-01dfc6a244aa",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "" ],
          "source" : {
            "comments" : "",
            "groupId" : "0f64ae2e-434c-3b55-930c-dbefe950294d",
            "id" : "9b673321-0678-38d7-9d2b-5791d7979de0",
            "name" : "Success (4acb979a-9ab9-30f9-8601-7f44b3deac44)",
            "type" : "OUTPUT_PORT"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "1af63a53-7cf3-31db-b068-59165f63678d",
            "id" : "8afbe72a-cda9-37be-9c46-b4ec6a7a519b",
            "name" : "Security Markings Callback",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "1af63a53-7cf3-31db-b068-59165f63678d",
          "identifier" : "78aad8b6-37ec-3f87-98e7-cab5304ade40",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "1af63a53-7cf3-31db-b068-59165f63678d",
            "id" : "82723ec5-e14d-319a-acfc-fc39170735bb",
            "name" : "PrepareCallback",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "1af63a53-7cf3-31db-b068-59165f63678d",
            "id" : "449fec50-a0e5-3f61-bc66-d331187030a3",
            "name" : "EvaluateJsonPath",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "1af63a53-7cf3-31db-b068-59165f63678d",
          "identifier" : "d45956b4-a814-3b76-8a9b-a08062331cbd",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "1af63a53-7cf3-31db-b068-59165f63678d",
            "id" : "33a10101-149d-3da4-822c-dc21506e0f6e",
            "name" : "ConsumeAMQP",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "0f64ae2e-434c-3b55-930c-dbefe950294d",
            "id" : "172fac26-2619-35a9-aaf9-766548ed8ee6",
            "name" : "Process (0f21a50b-6264-3f45-a529-0ac531afd73b)",
            "type" : "INPUT_PORT"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "1af63a53-7cf3-31db-b068-59165f63678d",
          "identifier" : "82e5979e-0803-327b-a01a-73fda618c21c",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "1af63a53-7cf3-31db-b068-59165f63678d",
            "id" : "41fe52ad-4f0b-3078-b7cb-60d003362466",
            "name" : "SecurityMarkings",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ {
            "x" : 455.3151878165422,
            "y" : 1529.7461941708266
          }, {
            "x" : 302.9738792227922,
            "y" : 1535.0400784481703
          } ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "1af63a53-7cf3-31db-b068-59165f63678d",
            "id" : "8afbe72a-cda9-37be-9c46-b4ec6a7a519b",
            "name" : "Security Markings Callback",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "1af63a53-7cf3-31db-b068-59165f63678d",
          "identifier" : "8d1f455a-b6c2-393a-848d-8333ec45c62a",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "Retry" ],
          "source" : {
            "comments" : "",
            "groupId" : "1af63a53-7cf3-31db-b068-59165f63678d",
            "id" : "8afbe72a-cda9-37be-9c46-b4ec6a7a519b",
            "name" : "Security Markings Callback",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "1af63a53-7cf3-31db-b068-59165f63678d",
            "id" : "41fe52ad-4f0b-3078-b7cb-60d003362466",
            "name" : "SecurityMarkings",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "1af63a53-7cf3-31db-b068-59165f63678d",
          "identifier" : "ec3d3651-eac2-3384-aba1-a7d4c061ebd2",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "matched" ],
          "source" : {
            "comments" : "",
            "groupId" : "1af63a53-7cf3-31db-b068-59165f63678d",
            "id" : "449fec50-a0e5-3f61-bc66-d331187030a3",
            "name" : "EvaluateJsonPath",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        } ],
        "controllerServices" : [ ],
        "funnels" : [ ],
        "identifier" : "1af63a53-7cf3-31db-b068-59165f63678d",
        "inputPorts" : [ ],
        "labels" : [ ],
        "name" : "Transform Validation and Process Group",
        "outputPorts" : [ ],
        "position" : {
          "x" : -804.1809425054473,
          "y" : -440.3503971751204
        },
        "processGroups" : [ {
          "comments" : "",
          "componentType" : "PROCESS_GROUP",
          "connections" : [ ],
          "controllerServices" : [ ],
          "funnels" : [ ],
          "groupIdentifier" : "1af63a53-7cf3-31db-b068-59165f63678d",
          "identifier" : "0f64ae2e-434c-3b55-930c-dbefe950294d",
          "inputPorts" : [ ],
          "labels" : [ ],
          "name" : "Transform Process Group",
          "outputPorts" : [ ],
          "position" : {
            "x" : -431.99999999999955,
            "y" : 1297.387378577825
          },
          "processGroups" : [ ],
          "processors" : [ ],
          "remoteProcessGroups" : [ ],
          "variables" : { },
          "versionedFlowCoordinates" : {
            "bucketId" : "aa92b901-f4ab-40e2-8b63-86a56294d399",
            "flowId" : "12bac198-4be2-4a02-9e7c-ab51556e5f15",
            "registryUrl" : "http://lore-nifi.phx.connexta.com:18080",
            "version" : 2
          }
        } ],
        "processors" : [ {
          "autoTerminatedRelationships" : [ ],
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.9.2"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "1af63a53-7cf3-31db-b068-59165f63678d",
          "identifier" : "56574671-f532-37e9-a672-8b894cb0d03d",
          "name" : "Test Callback URL",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 190.77896664225568,
            "y" : 1629.4526192959343
          },
          "properties" : {
            "Base Path" : "contentListener",
            "multipart-read-buffer-size" : "512 KB",
            "multipart-request-max-size" : "1 MB",
            "Max Unconfirmed Flowfile Time" : "60 secs",
            "Return Code" : "200",
            "Listening Port" : "3333",
            "Authorized DN Pattern" : ".*"
          },
          "propertyDescriptors" : {
            "Base Path" : {
              "displayName" : "Base Path",
              "identifiesControllerService" : false,
              "name" : "Base Path",
              "sensitive" : false
            },
            "multipart-read-buffer-size" : {
              "displayName" : "Multipart Read Buffer Size",
              "identifiesControllerService" : false,
              "name" : "multipart-read-buffer-size",
              "sensitive" : false
            },
            "SSL Context Service" : {
              "displayName" : "SSL Context Service",
              "identifiesControllerService" : true,
              "name" : "SSL Context Service",
              "sensitive" : false
            },
            "multipart-request-max-size" : {
              "displayName" : "Multipart Request Max Size",
              "identifiesControllerService" : false,
              "name" : "multipart-request-max-size",
              "sensitive" : false
            },
            "Max Unconfirmed Flowfile Time" : {
              "displayName" : "Max Unconfirmed Flowfile Time",
              "identifiesControllerService" : false,
              "name" : "Max Unconfirmed Flowfile Time",
              "sensitive" : false
            },
            "Max Data to Receive per Second" : {
              "displayName" : "Max Data to Receive per Second",
              "identifiesControllerService" : false,
              "name" : "Max Data to Receive per Second",
              "sensitive" : false
            },
            "Return Code" : {
              "displayName" : "Return Code",
              "identifiesControllerService" : false,
              "name" : "Return Code",
              "sensitive" : false
            },
            "Listening Port" : {
              "displayName" : "Listening Port",
              "identifiesControllerService" : false,
              "name" : "Listening Port",
              "sensitive" : false
            },
            "HTTP Headers to receive as Attributes (Regex)" : {
              "displayName" : "HTTP Headers to receive as Attributes (Regex)",
              "identifiesControllerService" : false,
              "name" : "HTTP Headers to receive as Attributes (Regex)",
              "sensitive" : false
            },
            "Authorized DN Pattern" : {
              "displayName" : "Authorized DN Pattern",
              "identifiesControllerService" : false,
              "name" : "Authorized DN Pattern",
              "sensitive" : false
            }
          },
          "runDurationMillis" : 0,
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.ListenHTTP",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "failure", "unmatched" ],
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.9.2"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "1af63a53-7cf3-31db-b068-59165f63678d",
          "identifier" : "449fec50-a0e5-3f61-bc66-d331187030a3",
          "name" : "EvaluateJsonPath",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -427.4432367744264,
            "y" : 824.8166102259216
          },
          "properties" : {
            "Destination" : "flowfile-attribute",
            "Return Type" : "auto-detect",
            "Null Value Representation" : "empty string",
            "callbackUrl" : "$.callbackUrl",
            "id" : "$.id",
            "Path Not Found Behavior" : "ignore"
          },
          "propertyDescriptors" : {
            "Destination" : {
              "displayName" : "Destination",
              "identifiesControllerService" : false,
              "name" : "Destination",
              "sensitive" : false
            },
            "Return Type" : {
              "displayName" : "Return Type",
              "identifiesControllerService" : false,
              "name" : "Return Type",
              "sensitive" : false
            },
            "Null Value Representation" : {
              "displayName" : "Null Value Representation",
              "identifiesControllerService" : false,
              "name" : "Null Value Representation",
              "sensitive" : false
            },
            "callbackUrl" : {
              "displayName" : "callbackUrl",
              "identifiesControllerService" : false,
              "name" : "callbackUrl",
              "sensitive" : false
            },
            "id" : {
              "displayName" : "id",
              "identifiesControllerService" : false,
              "name" : "id",
              "sensitive" : false
            },
            "Path Not Found Behavior" : {
              "displayName" : "Path Not Found Behavior",
              "identifiesControllerService" : false,
              "name" : "Path Not Found Behavior",
              "sensitive" : false
            }
          },
          "runDurationMillis" : 0,
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.EvaluateJsonPath",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "success" ],
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.9.2"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "1af63a53-7cf3-31db-b068-59165f63678d",
          "identifier" : "a8aaf3f0-3209-3ed8-b5a3-7e04b0869a26",
          "name" : "LogAttribute",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 186.45642528557346,
            "y" : 1859.2985564094056
          },
          "properties" : {
            "character-set" : "UTF-8",
            "Log Level" : "info",
            "attributes-to-log-regex" : ".*",
            "Log Payload" : "true"
          },
          "propertyDescriptors" : {
            "Log prefix" : {
              "displayName" : "Log prefix",
              "identifiesControllerService" : false,
              "name" : "Log prefix",
              "sensitive" : false
            },
            "character-set" : {
              "displayName" : "Character Set",
              "identifiesControllerService" : false,
              "name" : "character-set",
              "sensitive" : false
            },
            "Log Level" : {
              "displayName" : "Log Level",
              "identifiesControllerService" : false,
              "name" : "Log Level",
              "sensitive" : false
            },
            "attributes-to-ignore-regex" : {
              "displayName" : "Attributes to Ignore by Regular Expression",
              "identifiesControllerService" : false,
              "name" : "attributes-to-ignore-regex",
              "sensitive" : false
            },
            "Attributes to Ignore" : {
              "displayName" : "Attributes to Ignore",
              "identifiesControllerService" : false,
              "name" : "Attributes to Ignore",
              "sensitive" : false
            },
            "Attributes to Log" : {
              "displayName" : "Attributes to Log",
              "identifiesControllerService" : false,
              "name" : "Attributes to Log",
              "sensitive" : false
            },
            "attributes-to-log-regex" : {
              "displayName" : "Attributes to Log by Regular Expression",
              "identifiesControllerService" : false,
              "name" : "attributes-to-log-regex",
              "sensitive" : false
            },
            "Log Payload" : {
              "displayName" : "Log Payload",
              "identifiesControllerService" : false,
              "name" : "Log Payload",
              "sensitive" : false
            }
          },
          "runDurationMillis" : 0,
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.LogAttribute",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-amqp-nar",
            "group" : "org.apache.nifi",
            "version" : "1.9.2"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "1af63a53-7cf3-31db-b068-59165f63678d",
          "identifier" : "33a10101-149d-3da4-822c-dc21506e0f6e",
          "name" : "ConsumeAMQP",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -426.14400953471477,
            "y" : 593.0
          },
          "properties" : {
            "AMQP Version" : "0.9.1",
            "User Name" : "${transformer.amqp.user}",
            "ssl-client-auth" : "REQUIRED",
            "batch.size" : "10",
            "Port" : "${transformer.amqp.port}",
            "cert-authentication" : "false",
            "auto.acknowledge" : "false",
            "Host Name" : "${transformer.amqp.hostname}",
            "Queue" : "request"
          },
          "propertyDescriptors" : {
            "AMQP Version" : {
              "displayName" : "AMQP Version",
              "identifiesControllerService" : false,
              "name" : "AMQP Version",
              "sensitive" : false
            },
            "ssl-context-service" : {
              "displayName" : "SSL Context Service",
              "identifiesControllerService" : true,
              "name" : "ssl-context-service",
              "sensitive" : false
            },
            "Virtual Host" : {
              "displayName" : "Virtual Host",
              "identifiesControllerService" : false,
              "name" : "Virtual Host",
              "sensitive" : false
            },
            "User Name" : {
              "displayName" : "User Name",
              "identifiesControllerService" : false,
              "name" : "User Name",
              "sensitive" : false
            },
            "ssl-client-auth" : {
              "displayName" : "Client Auth",
              "identifiesControllerService" : false,
              "name" : "ssl-client-auth",
              "sensitive" : false
            },
            "batch.size" : {
              "displayName" : "Batch Size",
              "identifiesControllerService" : false,
              "name" : "batch.size",
              "sensitive" : false
            },
            "Port" : {
              "displayName" : "Port",
              "identifiesControllerService" : false,
              "name" : "Port",
              "sensitive" : false
            },
            "cert-authentication" : {
              "displayName" : "Use Certificate Authentication",
              "identifiesControllerService" : false,
              "name" : "cert-authentication",
              "sensitive" : false
            },
            "auto.acknowledge" : {
              "displayName" : "Auto-Acknowledge messages",
              "identifiesControllerService" : false,
              "name" : "auto.acknowledge",
              "sensitive" : false
            },
            "Host Name" : {
              "displayName" : "Host Name",
              "identifiesControllerService" : false,
              "name" : "Host Name",
              "sensitive" : false
            },
            "Queue" : {
              "displayName" : "Queue",
              "identifiesControllerService" : false,
              "name" : "Queue",
              "sensitive" : false
            },
            "Password" : {
              "displayName" : "Password",
              "identifiesControllerService" : false,
              "name" : "Password",
              "sensitive" : false
            }
          },
          "runDurationMillis" : 0,
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.amqp.processors.ConsumeAMQP",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "Response", "No Retry", "Original", "Failure" ],
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.9.2"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "1af63a53-7cf3-31db-b068-59165f63678d",
          "identifier" : "8afbe72a-cda9-37be-9c46-b4ec6a7a519b",
          "name" : "Security Markings Callback",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 204.32226789466722,
            "y" : 1313.3439114559828
          },
          "properties" : {
            "use-etag" : "false",
            "Proxy Type" : "http",
            "Connection Timeout" : "5 secs",
            "send-message-body" : "true",
            "Always Output Response" : "false",
            "etag-max-cache-size" : "10MB",
            "Use Chunked Encoding" : "false",
            "Follow Redirects" : "True",
            "Remote URL" : "${callbackUrl}",
            "Content-Type" : "${mime.type}",
            "Read Timeout" : "15 secs",
            "Max Length To Put In Attribute" : "256",
            "Digest Authentication" : "false",
            "HTTP Method" : "GET",
            "Add Response Headers to Request" : "false",
            "Include Date Header" : "True",
            "Penalize on \"No Retry\"" : "false"
          },
          "propertyDescriptors" : {
            "Proxy Host" : {
              "displayName" : "Proxy Host",
              "identifiesControllerService" : false,
              "name" : "Proxy Host",
              "sensitive" : false
            },
            "Attributes to Send" : {
              "displayName" : "Attributes to Send",
              "identifiesControllerService" : false,
              "name" : "Attributes to Send",
              "sensitive" : false
            },
            "Trusted Hostname" : {
              "displayName" : "Trusted Hostname",
              "identifiesControllerService" : false,
              "name" : "Trusted Hostname",
              "sensitive" : false
            },
            "use-etag" : {
              "displayName" : "Use HTTP ETag",
              "identifiesControllerService" : false,
              "name" : "use-etag",
              "sensitive" : false
            },
            "proxy-configuration-service" : {
              "displayName" : "Proxy Configuration Service",
              "identifiesControllerService" : true,
              "name" : "proxy-configuration-service",
              "sensitive" : false
            },
            "Proxy Type" : {
              "displayName" : "Proxy Type",
              "identifiesControllerService" : false,
              "name" : "Proxy Type",
              "sensitive" : false
            },
            "Basic Authentication Password" : {
              "displayName" : "Basic Authentication Password",
              "identifiesControllerService" : false,
              "name" : "Basic Authentication Password",
              "sensitive" : false
            },
            "Connection Timeout" : {
              "displayName" : "Connection Timeout",
              "identifiesControllerService" : false,
              "name" : "Connection Timeout",
              "sensitive" : false
            },
            "send-message-body" : {
              "displayName" : "Send Message Body",
              "identifiesControllerService" : false,
              "name" : "send-message-body",
              "sensitive" : false
            },
            "Always Output Response" : {
              "displayName" : "Always Output Response",
              "identifiesControllerService" : false,
              "name" : "Always Output Response",
              "sensitive" : false
            },
            "etag-max-cache-size" : {
              "displayName" : "Maximum ETag Cache Size",
              "identifiesControllerService" : false,
              "name" : "etag-max-cache-size",
              "sensitive" : false
            },
            "Put Response Body In Attribute" : {
              "displayName" : "Put Response Body In Attribute",
              "identifiesControllerService" : false,
              "name" : "Put Response Body In Attribute",
              "sensitive" : false
            },
            "Use Chunked Encoding" : {
              "displayName" : "Use Chunked Encoding",
              "identifiesControllerService" : false,
              "name" : "Use Chunked Encoding",
              "sensitive" : false
            },
            "Follow Redirects" : {
              "displayName" : "Follow Redirects",
              "identifiesControllerService" : false,
              "name" : "Follow Redirects",
              "sensitive" : false
            },
            "Remote URL" : {
              "displayName" : "Remote URL",
              "identifiesControllerService" : false,
              "name" : "Remote URL",
              "sensitive" : false
            },
            "Content-Type" : {
              "displayName" : "Content-Type",
              "identifiesControllerService" : false,
              "name" : "Content-Type",
              "sensitive" : false
            },
            "invokehttp-proxy-user" : {
              "displayName" : "Proxy Username",
              "identifiesControllerService" : false,
              "name" : "invokehttp-proxy-user",
              "sensitive" : false
            },
            "Read Timeout" : {
              "displayName" : "Read Timeout",
              "identifiesControllerService" : false,
              "name" : "Read Timeout",
              "sensitive" : false
            },
            "Max Length To Put In Attribute" : {
              "displayName" : "Max Length To Put In Attribute",
              "identifiesControllerService" : false,
              "name" : "Max Length To Put In Attribute",
              "sensitive" : false
            },
            "invokehttp-proxy-password" : {
              "displayName" : "Proxy Password",
              "identifiesControllerService" : false,
              "name" : "invokehttp-proxy-password",
              "sensitive" : false
            },
            "Proxy Port" : {
              "displayName" : "Proxy Port",
              "identifiesControllerService" : false,
              "name" : "Proxy Port",
              "sensitive" : false
            },
            "SSL Context Service" : {
              "displayName" : "SSL Context Service",
              "identifiesControllerService" : true,
              "name" : "SSL Context Service",
              "sensitive" : false
            },
            "Digest Authentication" : {
              "displayName" : "Use Digest Authentication",
              "identifiesControllerService" : false,
              "name" : "Digest Authentication",
              "sensitive" : false
            },
            "HTTP Method" : {
              "displayName" : "HTTP Method",
              "identifiesControllerService" : false,
              "name" : "HTTP Method",
              "sensitive" : false
            },
            "Add Response Headers to Request" : {
              "displayName" : "Add Response Headers to Request",
              "identifiesControllerService" : false,
              "name" : "Add Response Headers to Request",
              "sensitive" : false
            },
            "Basic Authentication Username" : {
              "displayName" : "Basic Authentication Username",
              "identifiesControllerService" : false,
              "name" : "Basic Authentication Username",
              "sensitive" : false
            },
            "Include Date Header" : {
              "displayName" : "Include Date Header",
              "identifiesControllerService" : false,
              "name" : "Include Date Header",
              "sensitive" : false
            },
            "Penalize on \"No Retry\"" : {
              "displayName" : "Penalize on \"No Retry\"",
              "identifiesControllerService" : false,
              "name" : "Penalize on \"No Retry\"",
              "sensitive" : false
            }
          },
          "runDurationMillis" : 0,
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.InvokeHTTP",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "failure" ],
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-prepare-callback-nar",
            "group" : "com.connexta.transformation",
            "version" : "1.0-SNAPSHOT"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "1af63a53-7cf3-31db-b068-59165f63678d",
          "identifier" : "82723ec5-e14d-319a-acfc-fc39170735bb",
          "name" : "PrepareCallback",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 200.18781186395654,
            "y" : 1084.0064481673003
          },
          "properties" : {
            "security" : "True",
            "bytes" : "True",
            "location" : "True",
            "id" : "True",
            "mimeType" : "True",
            "type" : "True",
            "message" : "False",
            "status" : "True"
          },
          "propertyDescriptors" : {
            "security" : {
              "displayName" : "security",
              "identifiesControllerService" : false,
              "name" : "security",
              "sensitive" : false
            },
            "bytes" : {
              "displayName" : "bytes",
              "identifiesControllerService" : false,
              "name" : "bytes",
              "sensitive" : false
            },
            "location" : {
              "displayName" : "location",
              "identifiesControllerService" : false,
              "name" : "location",
              "sensitive" : false
            },
            "id" : {
              "displayName" : "id",
              "identifiesControllerService" : false,
              "name" : "id",
              "sensitive" : false
            },
            "mimeType" : {
              "displayName" : "mimeType",
              "identifiesControllerService" : false,
              "name" : "mimeType",
              "sensitive" : false
            },
            "type" : {
              "displayName" : "type",
              "identifiesControllerService" : false,
              "name" : "type",
              "sensitive" : false
            },
            "message" : {
              "displayName" : "message",
              "identifiesControllerService" : false,
              "name" : "message",
              "sensitive" : false
            },
            "status" : {
              "displayName" : "status",
              "identifiesControllerService" : false,
              "name" : "status",
              "sensitive" : false
            }
          },
          "runDurationMillis" : 0,
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "com.connexta.transformation.processors.prepare.callback.PrepareCallback",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "Response", "No Retry", "Original", "Failure" ],
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.9.2"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "1af63a53-7cf3-31db-b068-59165f63678d",
          "identifier" : "6e019ad7-5dc5-3a5e-965f-13a1fc0dd6e6",
          "name" : "Success Callback",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -424.2481372207071,
            "y" : 1828.9715301135643
          },
          "properties" : {
            "use-etag" : "false",
            "Proxy Type" : "http",
            "Connection Timeout" : "5 secs",
            "send-message-body" : "true",
            "Always Output Response" : "false",
            "etag-max-cache-size" : "10MB",
            "Use Chunked Encoding" : "false",
            "Follow Redirects" : "True",
            "Remote URL" : "${callbackUrl}",
            "Content-Type" : "${mime.type}",
            "Read Timeout" : "15 secs",
            "Max Length To Put In Attribute" : "256",
            "Digest Authentication" : "false",
            "HTTP Method" : "GET",
            "Add Response Headers to Request" : "false",
            "Include Date Header" : "True",
            "Penalize on \"No Retry\"" : "false"
          },
          "propertyDescriptors" : {
            "Proxy Host" : {
              "displayName" : "Proxy Host",
              "identifiesControllerService" : false,
              "name" : "Proxy Host",
              "sensitive" : false
            },
            "Attributes to Send" : {
              "displayName" : "Attributes to Send",
              "identifiesControllerService" : false,
              "name" : "Attributes to Send",
              "sensitive" : false
            },
            "Trusted Hostname" : {
              "displayName" : "Trusted Hostname",
              "identifiesControllerService" : false,
              "name" : "Trusted Hostname",
              "sensitive" : false
            },
            "use-etag" : {
              "displayName" : "Use HTTP ETag",
              "identifiesControllerService" : false,
              "name" : "use-etag",
              "sensitive" : false
            },
            "proxy-configuration-service" : {
              "displayName" : "Proxy Configuration Service",
              "identifiesControllerService" : true,
              "name" : "proxy-configuration-service",
              "sensitive" : false
            },
            "Proxy Type" : {
              "displayName" : "Proxy Type",
              "identifiesControllerService" : false,
              "name" : "Proxy Type",
              "sensitive" : false
            },
            "Basic Authentication Password" : {
              "displayName" : "Basic Authentication Password",
              "identifiesControllerService" : false,
              "name" : "Basic Authentication Password",
              "sensitive" : false
            },
            "Connection Timeout" : {
              "displayName" : "Connection Timeout",
              "identifiesControllerService" : false,
              "name" : "Connection Timeout",
              "sensitive" : false
            },
            "send-message-body" : {
              "displayName" : "Send Message Body",
              "identifiesControllerService" : false,
              "name" : "send-message-body",
              "sensitive" : false
            },
            "Always Output Response" : {
              "displayName" : "Always Output Response",
              "identifiesControllerService" : false,
              "name" : "Always Output Response",
              "sensitive" : false
            },
            "etag-max-cache-size" : {
              "displayName" : "Maximum ETag Cache Size",
              "identifiesControllerService" : false,
              "name" : "etag-max-cache-size",
              "sensitive" : false
            },
            "Put Response Body In Attribute" : {
              "displayName" : "Put Response Body In Attribute",
              "identifiesControllerService" : false,
              "name" : "Put Response Body In Attribute",
              "sensitive" : false
            },
            "Use Chunked Encoding" : {
              "displayName" : "Use Chunked Encoding",
              "identifiesControllerService" : false,
              "name" : "Use Chunked Encoding",
              "sensitive" : false
            },
            "Follow Redirects" : {
              "displayName" : "Follow Redirects",
              "identifiesControllerService" : false,
              "name" : "Follow Redirects",
              "sensitive" : false
            },
            "Remote URL" : {
              "displayName" : "Remote URL",
              "identifiesControllerService" : false,
              "name" : "Remote URL",
              "sensitive" : false
            },
            "Content-Type" : {
              "displayName" : "Content-Type",
              "identifiesControllerService" : false,
              "name" : "Content-Type",
              "sensitive" : false
            },
            "invokehttp-proxy-user" : {
              "displayName" : "Proxy Username",
              "identifiesControllerService" : false,
              "name" : "invokehttp-proxy-user",
              "sensitive" : false
            },
            "Read Timeout" : {
              "displayName" : "Read Timeout",
              "identifiesControllerService" : false,
              "name" : "Read Timeout",
              "sensitive" : false
            },
            "Max Length To Put In Attribute" : {
              "displayName" : "Max Length To Put In Attribute",
              "identifiesControllerService" : false,
              "name" : "Max Length To Put In Attribute",
              "sensitive" : false
            },
            "invokehttp-proxy-password" : {
              "displayName" : "Proxy Password",
              "identifiesControllerService" : false,
              "name" : "invokehttp-proxy-password",
              "sensitive" : false
            },
            "Proxy Port" : {
              "displayName" : "Proxy Port",
              "identifiesControllerService" : false,
              "name" : "Proxy Port",
              "sensitive" : false
            },
            "SSL Context Service" : {
              "displayName" : "SSL Context Service",
              "identifiesControllerService" : true,
              "name" : "SSL Context Service",
              "sensitive" : false
            },
            "Digest Authentication" : {
              "displayName" : "Use Digest Authentication",
              "identifiesControllerService" : false,
              "name" : "Digest Authentication",
              "sensitive" : false
            },
            "HTTP Method" : {
              "displayName" : "HTTP Method",
              "identifiesControllerService" : false,
              "name" : "HTTP Method",
              "sensitive" : false
            },
            "Add Response Headers to Request" : {
              "displayName" : "Add Response Headers to Request",
              "identifiesControllerService" : false,
              "name" : "Add Response Headers to Request",
              "sensitive" : false
            },
            "Basic Authentication Username" : {
              "displayName" : "Basic Authentication Username",
              "identifiesControllerService" : false,
              "name" : "Basic Authentication Username",
              "sensitive" : false
            },
            "Include Date Header" : {
              "displayName" : "Include Date Header",
              "identifiesControllerService" : false,
              "name" : "Include Date Header",
              "sensitive" : false
            },
            "Penalize on \"No Retry\"" : {
              "displayName" : "Penalize on \"No Retry\"",
              "identifiesControllerService" : false,
              "name" : "Penalize on \"No Retry\"",
              "sensitive" : false
            }
          },
          "runDurationMillis" : 0,
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.InvokeHTTP",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "query" ],
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-security-markings-nar",
            "group" : "com.connexta.transformation",
            "version" : "1.0-SNAPSHOT"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "1af63a53-7cf3-31db-b068-59165f63678d",
          "identifier" : "41fe52ad-4f0b-3078-b7cb-60d003362466",
          "name" : "SecurityMarkings",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -423.0632792606384,
            "y" : 1060.7377777973452
          },
          "properties" : { },
          "propertyDescriptors" : { },
          "runDurationMillis" : 0,
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "com.connexta.transformation.processors.security.markings.SecurityMarkings",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "failure" ],
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-prepare-callback-nar",
            "group" : "com.connexta.transformation",
            "version" : "1.0-SNAPSHOT"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "1af63a53-7cf3-31db-b068-59165f63678d",
          "identifier" : "eb9b0462-335b-3854-a1b6-001560d88bdb",
          "name" : "PrepareCallback",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -421.87374352564825,
            "y" : 1582.4625363434511
          },
          "properties" : {
            "security" : "False",
            "bytes" : "False",
            "location" : "False",
            "id" : "True",
            "mimeType" : "False",
            "type" : "False",
            "message" : "True",
            "status" : "True"
          },
          "propertyDescriptors" : {
            "security" : {
              "displayName" : "security",
              "identifiesControllerService" : false,
              "name" : "security",
              "sensitive" : false
            },
            "bytes" : {
              "displayName" : "bytes",
              "identifiesControllerService" : false,
              "name" : "bytes",
              "sensitive" : false
            },
            "location" : {
              "displayName" : "location",
              "identifiesControllerService" : false,
              "name" : "location",
              "sensitive" : false
            },
            "id" : {
              "displayName" : "id",
              "identifiesControllerService" : false,
              "name" : "id",
              "sensitive" : false
            },
            "mimeType" : {
              "displayName" : "mimeType",
              "identifiesControllerService" : false,
              "name" : "mimeType",
              "sensitive" : false
            },
            "type" : {
              "displayName" : "type",
              "identifiesControllerService" : false,
              "name" : "type",
              "sensitive" : false
            },
            "message" : {
              "displayName" : "message",
              "identifiesControllerService" : false,
              "name" : "message",
              "sensitive" : false
            },
            "status" : {
              "displayName" : "status",
              "identifiesControllerService" : false,
              "name" : "status",
              "sensitive" : false
            }
          },
          "runDurationMillis" : 0,
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "com.connexta.transformation.processors.prepare.callback.PrepareCallback",
          "yieldDuration" : "1 sec"
        } ],
        "remoteProcessGroups" : [ ],
        "variables" : { }
      }
    }
  }
}